/*This stylesheet basically allows modification of colourscheme, should be implemented sitewide*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* All other up to date browsers i think, some exceptions in Opera GX */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
    border-radius: .3rem;
    }
}

.gradient-custom-navbar {

    /* for old browsers */
    background: #fccb90;

    background: -webkit-linear-gradient(to right,  #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
}